*{
    margin: 0;
    padding: 0;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    width: 230px;
    height: 80px;
    font-size: 35px;
    text-align: center;
    padding: 8px;
    border-top: 5px solid rgb(216, 248, 151);
    border-bottom: 5px solid rgb(216, 248, 151);
    border-left: 5px solid rgb(169, 177, 169);
    border-right: 5px solid rgb(169, 177, 169);
    background-color: black;
    font-weight: bolder;
    color: white;
}
button:hover{
    Box-shadow: 1px 6px 14px rgb(9, 211, 9);
}



